/* TOGGLE */
.aw-toggle {
	float: right;
	line-height: 50px;
	margin-right: 15px;
	
	color: #fff;
}

/* MENU */
.aw-menu {
	font-size: 1.1em;
	vertical-align: middle;
}

.grid-login{
	
	
	  width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 30px;
    background-color: #e6e6e6;
	
}#frm{
width: 360px;
margin: auto;
margin-top: 150px;}


.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}
.label{
	vertical-align: super;
	
}

.aw-menu > ul a {
	display: block;
	padding: 10px 15px;
	vertical-align:middle;
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.aw-menu > ul i {
	margin-right: 6px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 20px 0;
	
	text-align: center;

	font-size: 1.5em;
	color: #373737;
}